@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-panel.png");
}
.BG-panel {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  font-family: "微软雅黑";
  font-weight: bold;
}
.circle-lg {
  position: absolute;
  top: 124px;
  left: 570px;
  width: 58px;
  height: 58px;
  border: 10px solid #ffa6a2;
  border-radius: 50%;
  background-color: #e5352d;
  animation: circle-flicker 1.1s infinite;
  z-index: 2;
}
.circle-sm {
  position: absolute;
  top: 133px;
  left: 585px;
  width: 48px;
  height: 48px;
  border: 0px solid #ffa6a2;
  border-radius: 50%;
  background-color: #e5352d;
  z-index: 1;
}
.circle-left-1 {
  animation: circle-left-move-1 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.circle-left-2 {
  animation: circle-left-move-2 0.3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.circle-right-1 {
  animation: circle-right-move-1 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.circle-right-2 {
  animation: circle-right-move-2 0.3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.line-lg {
  position: absolute;
  top: 157px;
  left: 770px;
  width: 0px;
  height: 10px;
  background: #bebebe;
}
.line-lg-show-1 {
  animation: line-lg-show-1 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.line-lg-show-2 {
  animation: line-lg-show-2 0.3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.title-sm {
  position: absolute;
  top: 237px;
  left: 600px;
  color: #a2a2a2;
  font-size: 0px;
}
.title-lg {
  color: #e5352d;
  position: absolute;
  top: 228px;
  left: 960px;
  font-size: 0px;
}
.text1-1 {
  animation: text1-move-1 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.text1-2 {
  animation: text1-move-2 0.3s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.text2-1 {
  animation: text2-move-1 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.text2-2 {
  animation: text2-move-2 0.3s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.text3-1 {
  animation: text3-move-1 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.text3-2 {
  animation: text3-move-2 0.3s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.title-lg {
  color: #e5352d;
  position: absolute;
  top: 228px;
  left: 960px;
  font-size: 0px;
}
.text4-1 {
  animation: text4-move-1 0.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.text4-2 {
  animation: text4-move-2 0.3s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.text5 {
  display: none;
  position: absolute;
  top: 157px;
  left: 600px;
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 252px;
  background-color: #cb261e;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.text5-1 {
  animation: text5-move-1 0.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.text6 {
  display: none;
  position: absolute;
  top: 157px;
  left: 600px;
  font-size: 0px;
  color: #ffffff;
}
.text6-1 {
  animation: text6-move-1 0.5s;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.text7 {
  display: none;
  position: absolute;
  top: 157px;
  left: 600px;
  font-size: 0px;
  color: #ffffff;
}
.text7-1 {
  animation: text7-move-1 0.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.BG-panel-1 {
  animation: BG-panel-move-1 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.BG-panel-2 {
  animation: BG-panel-move-2 0.3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.circle-lg-1 {
  animation: circle-lg-move-1 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0.5, 1, 1);
}
.circle-sm-2 {
  border: 0px solid #d7d7d7;
  background-color: #ffffff;
}
@keyframes circle-flicker {
  0% {
    border-width: 10px;
    top: 124px;
    left: 570px;
  }
  50% {
    border-width: 0px;
    top: 132px;
    left: 578px;
  }
  100% {
    border-width: 10px;
    top: 124px;
    left: 570px;
  }
}
@keyframes circle-left-move-1 {
  from {
    left: 585px;
    border-width: 0px;
  }
  to {
    left: 200px;
    border-width: 8px;
  }
}
@keyframes circle-left-move-2 {
  from {
    left: 200px;
    border-width: 8px;
  }
  to {
    left: 585px;
    border-width: 0px;
  }
}
@keyframes circle-right-move-1 {
  from {
    left: 585px;
    border-width: 0px;
  }
  to {
    left: 970px;
    border-width: 8px;
  }
}
@keyframes circle-right-move-2 {
  from {
    left: 970px;
    border-width: 8px;
  }
  to {
    left: 585px;
    border-width: 0px;
  }
}
@keyframes line-lg-show-1 {
  from {
    width: 0px;
    left: 770px;
  }
  to {
    width: 100%;
    left: 0px;
  }
}
@keyframes line-lg-show-2 {
  from {
    width: 100%;
    left: 0px;
  }
  to {
    width: 0px;
    left: 770px;
  }
}
@keyframes text1-move-1 {
  from {
    font-size: 0px;
    top: 157px;
    left: 600px;
    opacity: 0;
  }
  to {
    font-size: 34px;
    top: 60px;
    left: 550px;
    opacity: 1;
  }
}
@keyframes text1-move-2 {
  from {
    font-size: 34px;
    top: 60px;
    left: 550px;
    opacity: 1;
  }
  to {
    font-size: 0px;
    top: 157px;
    left: 600px;
    opacity: 0;
  }
}
@keyframes text2-move-1 {
  from {
    font-size: 0px;
    top: 157px;
    left: 600px;
    opacity: 0;
  }
  to {
    font-size: 34px;
    top: 220px;
    left: 510px;
    opacity: 1;
  }
}
@keyframes text2-move-2 {
  from {
    font-size: 34px;
    top: 220px;
    left: 510px;
    opacity: 1;
  }
  to {
    font-size: 0px;
    top: 157px;
    left: 600px;
    opacity: 0;
  }
}
@keyframes text3-move-1 {
  from {
    font-size: 0px;
    top: 157px;
    left: 600px;
    opacity: 0;
  }
  to {
    font-size: 34px;
    top: 620px;
    left: 490px;
    opacity: 1;
  }
}
@keyframes text3-move-2 {
  from {
    font-size: 34px;
    top: 620px;
    left: 490px;
    opacity: 1;
  }
  to {
    font-size: 0px;
    top: 157px;
    left: 600px;
    opacity: 0;
  }
}
@keyframes text4-move-1 {
  from {
    font-size: 0px;
    top: 157px;
    left: 600px;
    opacity: 0;
  }
  to {
    font-size: 240px;
    top: 300px;
    left: 240px;
    opacity: 1;
  }
}
@keyframes text4-move-2 {
  from {
    font-size: 240px;
    top: 300px;
    left: 240px;
    opacity: 1;
  }
  to {
    font-size: 0px;
    top: 157px;
    left: 600px;
    opacity: 0;
  }
}
@keyframes BG-panel-move-1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    background-image: url("");
  }
}
@keyframes circle-lg-move-1 {
  0% {
    width: 58px;
    height: 58px;
  }
  80% {
    border-width: 200px;
  }
  100% {
    width: 600px;
    height: 600px;
    top: -250px;
    left: 0;
    border-width: 0px;
    border-radius: 100%;
    opacity: 0;
  }
}
@keyframes BG-panel-move-2 {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
    background-color: #ffffff;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text5-move-1 {
  from {
    top: 157px;
    left: 600px;
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    font-size: 72px;
    top: 380px;
    left: 180px;
    opacity: 1;
    width: 415px;
    height: 252px;
  }
}
@keyframes text6-move-1 {
  from {
    top: 157px;
    left: 600px;
    opacity: 0;
  }
  to {
    font-size: 80px;
    top: 380px;
    left: 640px;
    opacity: 1;
  }
}
@keyframes text7-move-1 {
  from {
    top: 157px;
    left: 600px;
    opacity: 0;
  }
  to {
    font-size: 80px;
    top: 530px;
    left: 640px;
    opacity: 1;
  }
}
